*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #080808;
    color:#fff;
}
#header{
    width: 100%;
    height: 150vh;
    background-image: url(arrierplanesducation.jpg);
    background-position: center;
    background-size: cover;
    
    
}
.contenier{
    padding: 10px 10ex;
    font-family: sans-serif;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: #000;
}

.carteskils{
    display: flex;
    justify-content:left;
    background-color: floralwhite;
    width: 100%;
    max-width: 499px;
    padding: 40px 20px;
    border: 1px solid rgba(255, 255, 255,0.3);
    margin-left: 820px;

}
.carteskils .h1{
    
    color: #000;
}
.carteskils table{
    
    width: 15%;
    color: #000;
    margin-left: 0px;
}
.carteexp{
    display: flex;
    
    background-color: floralwhite;
    width: 110%;
    max-width: 800px;
    padding: 40px 20px;
    border: 1px solid rgba(255, 255, 255,0.3);
    margin-left: 20px;
}
.carteexp .h1{
    color: #000;
}
.carteexp table{
    color: #000;
    margin-left: 0px;
}
.carteclub {
    display: flex;
    justify-content:left;
    background-color: floralwhite;
    width: 100%;
    max-width: 499px;
    padding: 40px 20px;
    border: 1px solid rgba(255, 255, 255,0.3);
    margin-left: 820px;

}
.carteclub .h1{
    color: #000;

}
.carteclub table{
    color: #000;
    margin-left: 0px;

}